.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    align-items: center;
    .card {
      background-color: $bianco;
      border: none;
      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
      border-radius: 20px;
      text-align: center;
      width: 300px;
      transition: transform 0.3s;
    }
    .card:hover {
      transform: translateY(5px);
      box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
    }
    img {
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      padding: 20px;
    }
    i {
      width: 200px;
    }
    .text {
      padding: 0 20px 20px;
      h4 {
        text-transform: uppercase;
      }
      h5 {
        color: $charcoal;
      }
      a {
        display: block;
        background-color: $charcoal;
        border-radius: 20px;
        color: $bianco;
        padding: 10px;
        width: 100%;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
      }
      a:hover {
        color: $bianco;
        font-weight: 600;
        background-color: $light-salmon;
        transition: 0.4s;
      }
      p {
        padding: 20px 0;
        color: $grigio-scuro;
      }
    }
  }
}
