/*Colors*/
$cobalto: #006d77;
$verde-acqua: #83c5be;
$bianco: #ffffff;
$grigio-chiaro: #edf6f9;
$grigio-scuro: #5d6063;
$pesca-chiaro: #ffddd2;
$rosso-salmone: #e29578;

$light-salmon: #f4ac90ff;
$charcoal: #375466ff;
$charcoal-light: #dee7ed;
$honeydew: #d2e2d8ff;
$cultured: #f8f7f5;
$isabelline: #f6f0ebff;
$unbleached-silk: #fddfd2ff;

/*End-colors*/
$nav-gap: 15px;
$font: "Crimson Pro", serif;
