/*Colors*/
$cobalto: #006d77;
$verde-acqua: #83c5be;
$bianco: #ffffff;
$grigio-chiaro: #edf6f9;
$grigio-scuro: #5d6063;
$pesca-chiaro: #ffddd2;
$rosso-salmone: #e29578;

/*End-colors*/
$nav-gap: 15px;
$font: "Crimson Pro", serif;
