.center {
  p {
    a {
      color: $light-salmon;
    }
    a:hover {
      color: $charcoal;
    }
  }
}
.social {
  .container-social {
    .col-3 {
      float: left;
      width: 33%;
      height: 50px;
      a {
        display: flex;
        justify-content: center;
        img {
          padding-top: 20px;
          width: 15%;
        }
      }
      a:hover {
        color: $charcoal;
        opacity: 0.5;
      }
    }
  }
}
