$font: "Crimson Pro", serif;
/*Colors*/
$cobalto: #006d77;
$verde-acqua: #83c5be;
$bianco: #ffffff;
$grigio-chiaro: #edf6f9;
$grigio-scuro: #5d6063;
$pesca-chiaro: #ffddd2;
$rosso-salmone: #e29578;

$light-salmon: #f4ac90ff;
$charcoal: #375466ff;
$charcoal-light: #dee7ed;
$honeydew: #d2e2d8ff;
$cultured: #f8f7f5;
$isabelline: #f6f0ebff;
$unbleached-silk: #fddfd2ff;

/*End-colors*/
$nav-gap: 15px;

@mixin set-icon {
  width: 30px;
  margin: 0 10px;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-20px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-4px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
