@media only screen and (max-width: 400px) {
  .screen {
    .nav-computer {
      .monitor {
        .top-bar {
          .screen-folder {
            .content-desktop {
              display: none;
            }
            .content-mobile {
              display: block;
              img {
                width: 100px;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
