.screen {
  display: flex;
  justify-content: center;
  .nav-computer {
    background-color: $charcoal;
    padding-bottom: 10px;
    border-radius: 25px 25px 20px 20px;
    .monitor {
      background-color: $charcoal-light;
      padding: 40px;
      border-radius: 20px 20px 0 0;
      .top-bar {
        background-color: $charcoal;
        padding-top: 15px;
        border-radius: 20px 20px 0 0;
        .circle {
          height: 15px;
          width: 15px;
          background-color: $light-salmon;
          border-radius: 50%;
          display: inline-block;
          margin: 0 0 10px 10px;
        }
        .screen-folder {
          background-color: $bianco;
          max-width: 900px;

          img {
            width: 200px;
            height: auto;
          }
        }
      }
    }

    .icon-nav {
      display: flex;
      justify-content: space-around;

      .icon {
        padding-top: 10px;
        #home {
          width: 30px;
          margin: 0 10px;
        }
        #email {
          width: 30px;
          margin: 0 10px;
        }
        #chrome {
          width: 30px;
          margin: 0 10px;
        }

        #photoshop,
        #illustrator {
          width: 30px;
          margin: 0 10px;
        }

        #photoshop:hover,
        #illustrator:hover {
          animation-duration: 2s;
          animation-iteration-count: infinite;
          transform-origin: bottom;
          animation-name: bounce;
          animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
        }
        @keyframes bounce {
          0% {
            transform: scale(1, 1) translateY(0);
          }
          10% {
            transform: scale(1.1, 0.9) translateY(0);
          }
          30% {
            transform: scale(0.9, 1.1) translateY(-20px);
          }
          50% {
            transform: scale(1.05, 0.95) translateY(0);
          }
          57% {
            transform: scale(1, 1) translateY(-4px);
          }
          64% {
            transform: scale(1, 1) translateY(0);
          }
          100% {
            transform: scale(1, 1) translateY(0);
          }
        }
      }
    }
  }
}
