//Hard skills
.skills-bar {
  display: grid;
  place-items: center;
  padding: 15px 0;

  .bar {
    width: 600px;
    padding: 20px 0;

    .info {
      margin-bottom: 5px;

      span {
        font-size: 17px;
        font-weight: 500;
        color: $grigio-scuro;
      }
    }
    .progress-line {
      position: relative;
      height: 10px;
      width: 100%;
      background-color: $bianco;
      border-radius: 10px;

      span {
        position: absolute;
        height: 100%;
        width: 80%;
        background-color: $cobalto;
        border-radius: 10px;
      }

      span::after {
        position: absolute;
        content: "80%";
        right: 0;
        top: -20px;
        color: $grigio-scuro;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .html-css {
      span {
        width: 80%;
      }
      span::after {
        content: "80%";
      }
    }
    .php-mysql {
      span {
        width: 70%;
      }
      span::after {
        content: "70%";
      }
    }
    .js {
      span {
        width: 50%;
      }
      span::after {
        content: "50%";
      }
    }
    .wordpress {
      span {
        width: 70%;
      }
      span::after {
        content: "70%";
      }
    }
    .bootstrap {
      span {
        width: 90%;
      }
      span::after {
        content: "90%";
      }
    }
    .laravel {
      span {
        width: 30%;
      }
      span::after {
        content: "30%";
      }
    }
  }
}

//Soft Skills
.soft-skills-bar {
  display: grid;
  place-items: left;
  padding: 15px 80px;
  .wrapper {
    display: flex;

    .static-txt {
      color: $bianco;
      font-size: 60px;
      font-weight: 400;
      padding-top: 9px;
    }
    .dynamic-txts {
      margin-left: 15px;
      height: 90px;
      line-height: 90px;
      overflow: hidden;
      li {
        list-style: none;
        color: $cobalto;
        font-size: 60px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 12s steps(4) infinite;

        span {
          position: relative;
          margin: 5px 0;
          line-height: 90px;
        }
        span::after {
          content: "";
          position: absolute;
          left: 0;
          height: 90px;
          width: 100%;
          background: $pesca-chiaro;
          border-left: 2px solid $cobalto;
          animation: typing 3s steps(11) infinite;
        }
        @keyframes typing {
          40%,
          60% {
            left: calc(100% + 30px);
          }
          100% {
            left: 0;
          }
        }
      }
      @keyframes slide {
        100% {
          top: -360px;
        }
      }
    }
  }
}
