@import "config";
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $pesca-chiaro;
  font-family: $font;
}

section {
  height: 100vh;
}

h1 {
  color: $cobalto;
  font-size: 8vw;
  line-height: 7vw;
}
h2 {
  color: $bianco;
  font-size: 4vw;
  line-height: 4vw;
}
h3 {
  color: $bianco;
  font-size: 3vw;
  line-height: 4vw;
}
h4 {
  color: $bianco;
  font-size: 2vw;
  line-height: 4vw;
}

.left {
  float: left;
  width: 50%;
  height: 100vh;

  h3 {
    padding-left: 60px;
  }

  .presentation {
    padding-top: 130px;
    margin-left: 60px;
    padding-left: 0;

    h3 {
      padding-left: 0;
    }
  }
}
.right {
  float: right;
  width: 50%;
  height: 100vh;

  h3 {
    padding-left: 60px;
  }
}

.description {
  padding-left: 60px;
  padding-top: 40px;
  padding-right: 100px;
  font-size: 16px;
  line-height: 32px;
  color: $grigio-scuro;
}

.data {
  width: 30%;
  padding: 60px;
}
.event {
  width: 70%;
  padding: 60px;
}

@import "navmenu";
@import "timeline";
@import "skills";
@import "mobile";
